@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(assets/header.jpg);
}

img {
    width: 70px;
}

.contact {
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
}