@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(assets/header.jpg);
}

img {
    width: 70px;
}

.contact {
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.contact:hover {
    text-decoration: underline;
}
.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    transition: 0.4s ease;
}

.header-items a:hover {
    text-decoration: underline;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.main-section {
    display: flex;
    flex-direction: column;
    padding: 170px 140px;
    gap: 30px;
}

 .name {
    color: white;
    font-size: 2em;
}

.titulo {
    font-size: 6em;
    max-width: 300px;
}

.fash {
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px white;
}

.foto {
    color: white;
    font-weight: 600;
}

.offer {
    display: flex;
    width: 420px;
    color: white;
    padding: 10px;
}

.offer p {
    border: 2px solid white; 
    padding: 10px;
}

.tit {
    color: red;
    background-color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.4s ease;
    font-size: 1.2em;
}

.tit:hover {
    background-color: transparent;
    color: white;
}

.scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scroll .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px;
}

.scro {
    transform: rotate(90deg);
}

.text p {
    color: white;
    font-weight: 600;
}

.text i {
    color: white;
}

.brands i {
    color: red;
    background-color: white;
    padding: 20px 20px;
    border-radius: 50%;
    font-size: 1.3em;
    margin: 10px;
    transition: 0.4s ease;
}

.brands i:hover {
    background-color: transparent;
}